dotenv_if_exists ../.env

git summary
git secrets --scan

echo
echo "git pull --dry-run:"
git pull --dry-run

echo
echo "gh pr list:"
gh pr list

echo "git info --no-config | column:"
git info --no-config | column
echo

